/* GENERAL */

* {
  box-sizing: border-box;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
}

header {
  /*  position: fixed; */
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
  margin-top: 10px;
  position: sticky;
  top: 0px;
}

body {
  font-family: TS-Reg, sans-serif;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  font-family: TS-Med, sans serif;
}

h1 span {
  color: #fe5d5d;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  font-family: TS-Med, sans serif;
}

/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */

header > div.wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
}

header > div.wrapper > div.logosearch {
  display: flex;
  flex-direction: row;
}

div.logosearch > img {
  cursor: pointer;
}

header > div.wrapper > div.logosearch > div.searchbar {
  display: flex;
  margin-left: 30px;
  padding: 10px 200px 10px 12px;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #dee1df;
  border-radius: 20px;
  color: #757575;
}

header > div.wrapper > div.position {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header > div.wrapper > div.position > div.menu {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

/* MENU */
/* MENU */
/* MENU */

div.avis {
  display: flex;
  padding: 0 10px;
}
div.avis:hover {
  background-color: #e5e5e5;
  border-radius: 17px;
  padding: 10px;
  cursor: pointer;
}

div.avis > p {
  margin-left: 4px;
}

div.voyages {
  display: flex;
  padding: 0 10px;
}

div.voyages:hover {
  background-color: #e5e5e5;
  border-radius: 17px;
  padding: 10px;
  cursor: pointer;
}

div.voyages > p {
  margin-left: 4px;
}

div.alertes {
  display: flex;
  padding: 0 10px;
}

div.alertes:hover {
  background-color: #e5e5e5;
  border-radius: 17px;
  padding: 10px;
  cursor: pointer;
}

div.alertes > p {
  margin-left: 4px;
}

div.panier {
  display: flex;
  padding: 0 10px;
}

div.panier:hover {
  background-color: #e5e5e5;
  border-radius: 17px;
  padding: 10px;
  cursor: pointer;
}

div.panier > p {
  margin-left: 4px;
}

button.connectezvous {
  color: white;
  background-color: black;
  padding: 10px 12px 10px 12px;
  font-weight: bold;
  font-size: 16px;
  font-family: TS-Reg, sans-serif;
  border-radius: 20px;
  border: none;
  margin-left: 7px;
}

button.connectezvous:hover {
  opacity: 0.7;
  cursor: pointer;
}

header img {
  width: 185px;
}
/* BODY */
/* BODY */
/* BODY */
/* BODY */
/* BODY */

h1 {
  margin-top: 20px;
}

main > div > p {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* NAV */
/* NAV */
/* NAV */

.nav1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 26px;
  margin-top: 30px;
}

.nav1 div {
  border: solid 1px black;
  border-radius: 15px;
  padding: 15px;
}

.nav1 > div.hotels {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 10px;
}

.nav1 > div.hotels:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.nav1 > div.locations {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 10px;
}
.nav1 > div.locations:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.nav1 > div.activites {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 10px;
}

.nav1 > div.activites:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.nav1 > div.restaurants {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 10px;
}

.nav1 > div.restaurants:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.nav1 > div.forums {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 10px;
}

.nav1 > div.forums:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.nav1 > div.plus {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav1 > div.plus:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* PHOTOS */
/* PHOTOS */
/* PHOTOS */
.main-picture-div {
  height: 430px;
  /* background-color: pink; */
  display: flex;
  gap: 2px;
}

.main-picture-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-picture-div-left {
  /* background-color: lightseagreen; */
  flex: 1;
}
.main-picture-div-right {
  width: 480px;
  /* background-color: lightgreen; */
}

.main-picture-div-right-up {
  height: calc(50% - 1px);
  /* background-color: red; */
  margin-bottom: 2px;
}

.main-picture-div-right-down {
  height: calc(50% - 1px);
  /* background-color: blue; */
}

.menu2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 12px;
}
.underphotos {
  display: flex;
  flex-direction: row;
  flex: 1;
}

/* VISITE PORTO */

.visiteporto {
  display: flex;
  margin-top: 40px;
}

.visiteporto div.text {
  margin-right: 60px;
}

div.text > h2 {
  margin-bottom: 45px;
}

div.text > p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
}

.portomap {
  display: flex;
  flex-direction: column;
}

.portomap div.toptext {
  background-color: #fe5d5d;
  border-radius: 15px 15px 0 0;
  padding: 33px;
}
.portomap div.toptext > h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
}

.portomap div.toptext > p {
  margin: 20px 0;
  line-height: 20px;
}
.portomap div.toptext > button {
  font-family: TS-Reg, sans-serif;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 15px;
  border: none;
  padding: 20px 15px;
  font-size: 15px;
}
.portomap div.toptext > button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.portomap > img {
  height: 250px;
  border-radius: 0 0 15px 15px;
}

/* SECTION */
/* SECTION */
/* SECTION */

.immanquables {
  margin-top: 80px;
}

.left-column h3 {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.caroussel-1 {
  display: flex;
}

.caroussel-1 > .left-column {
  border: solid 2px blueviolet;
  width: 800px;
  /* flex: 3; */
}

.caroussel-1 .right-column {
  border: solid 2px teal;
  display: flex;
  /* flex: 7; */
}

.caroussel-1 .right-column .activites {
  height: 160px;
  width: 250px;
  border: pink solid 2px;
  gap: 14px;
}

/* FOOTER */
