/* GENERAL */

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1135px;
  margin: 0 auto;
}

header {
  /*  position: fixed; */
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
  padding-top: 10px;
  position: sticky;
  top: 0px;
}

body {
  font-family: TS-Reg, sans-serif;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  font-family: TS-Med, sans serif;
}

h1 span {
  color: #fe5d5d;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  font-family: TS-Med, sans serif;
}

/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */

header > div.wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
}

header > div.wrapper > div.logosearch {
  display: flex;
  flex-direction: row;
}

div.logosearch > img {
  cursor: pointer;
}

header > div.wrapper > div.logosearch > div.searchbar {
  display: flex;
  margin-left: 30px;
  padding: 10px 200px 10px 12px;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #dee1df;
  border-radius: 20px;
  color: #757575;
}

header > div.wrapper > div.position {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header > div.wrapper > div.position > div.menu {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

/* MENU */
/* MENU */
/* MENU */

div.avis {
  display: flex;
  padding: 0 10px;
}
div.avis:hover {
  background-color: #e5e5e5;
  border-radius: 17px;
  padding: 10px;
  cursor: pointer;
}

div.avis > p {
  margin-left: 4px;
}

div.voyages {
  display: flex;
  padding: 0 10px;
}

div.voyages:hover {
  background-color: #e5e5e5;
  border-radius: 17px;
  padding: 10px;
  cursor: pointer;
}

div.voyages > p {
  margin-left: 4px;
}

div.alertes {
  display: flex;
  padding: 0 10px;
}

div.alertes:hover {
  background-color: #e5e5e5;
  border-radius: 17px;
  padding: 10px;
  cursor: pointer;
}

div.alertes > p {
  margin-left: 4px;
}

div.panier {
  display: flex;
  padding: 0 10px;
}

div.panier:hover {
  background-color: #e5e5e5;
  border-radius: 17px;
  padding: 10px;
  cursor: pointer;
}

div.panier > p {
  margin-left: 4px;
}

button.connectezvous {
  color: white;
  background-color: black;
  padding: 10px 12px 10px 12px;
  font-weight: bold;
  font-size: 16px;
  font-family: TS-Reg, sans-serif;
  border-radius: 20px;
  border: none;
  margin-left: 7px;
}

button.connectezvous:hover {
  opacity: 0.7;
  cursor: pointer;
}

header img {
  width: 185px;
}
/* BODY */
/* BODY */
/* BODY */
/* BODY */
/* BODY */

h1 {
  margin-top: 20px;
}

main > div > p {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* NAV */
/* NAV */
/* NAV */

.nav1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 26px;
  margin-top: 30px;
}

.nav1 div {
  border: solid 1px black;
  border-radius: 15px;
  padding: 15px;
}

.nav1 > div.element-nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 10px;
}

.nav1 > div.element-nav:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* PHOTOS */
/* PHOTOS */
/* PHOTOS */
.main-picture-div {
  height: 430px;
  /* background-color: pink; */
  display: flex;
  gap: 2px;
}

.main-picture-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-picture-div-left {
  /* background-color: lightseagreen; */
  flex: 1;
}
.main-picture-div-right {
  width: 480px;
  /* background-color: lightgreen; */
}

.main-picture-div-right-up {
  height: calc(50% - 1px);
  /* background-color: red; */
  margin-bottom: 2px;
}

.main-picture-div-right-down {
  height: calc(50% - 1px);
  /* background-color: blue; */
}

.menu2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 12px;
}
.underphotos {
  display: flex;
  flex-direction: row;
  flex: 1;
}

/* VISITE PORTO */

.visiteporto {
  display: flex;
  margin-top: 40px;
}

.visiteporto div.text {
  margin-right: 60px;
}

div.text > h2 {
  margin-bottom: 45px;
}

div.text > p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
}

.portomap {
  display: flex;
  flex-direction: column;
}

.portomap div.toptext {
  background-color: #fe5d5d;
  border-radius: 15px 15px 0 0;
  padding: 33px;
}
.portomap div.toptext > h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
}

.portomap div.toptext > p {
  margin: 20px 0;
  line-height: 20px;
}
.portomap div.toptext > button {
  font-family: TS-Reg, sans-serif;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 15px;
  border: none;
  padding: 20px 15px;
  font-size: 15px;
}
.portomap div.toptext > button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.portomap > img {
  height: 250px;
  border-radius: 0 0 15px 15px;
}

/* SECTION */
/* SECTION */
/* SECTION */

.immanquables {
  margin-top: 80px;
}

.immanquables > h2 {
  margin-bottom: 30px;
}

.left-column h3 {
  font-size: 23px;
  line-height: 30px;
  font-weight: bold;
}

.caroussel {
  display: flex;
  height: 300px;
}

.left-column {
  /* border: solid 2px blueviolet; */
  width: 30%;
}

.left-column > p {
  padding: 20px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.left-column > button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-family: TS-Reg, sans-serif;
  font-weight: bold;
  font-size: 17px;
  margin: 0;
  color: #545454;
  padding: 0;
  text-decoration: underline;
}

.right-column {
  /* border: solid 2px teal; */
  display: flex;
  gap: 14px;
  overflow: scroll;
  flex: 1;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.right-column .activites {
  height: 100%;
  width: calc((100% - 28px) / 3);
  /* border: pink solid 2px; */
  flex-shrink: 0;
}

.img-carrousel {
  height: 180px;
  position: relative;
}

.immanquables img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-item-absolute {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: lightgray;
  border-radius: 50%;
}

.right-column h3 {
  font-size: 18px;
  font-family: TS-Reg, sans-serif;
  font-weight: bold;
  margin: 7px 0;
}

.right-column p {
  color: #555555;
  font-size: 14px;
}

/* FOOTER */

footer {
  height: 157px;
  background-color: #f9f1ec;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* MODAL */
/* MODAL */
/* MODAL */
/* MODAL */
/* MODAL */

.modal {
  display: flex;
  background-color: rgb(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  display: none;
}

.form-container {
  margin: 0 auto;
  flex-direction: row;
}

.form-container i {
  color: rgb(0, 0, 0, 0.5);
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.form-container p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.form-container > div {
  background-color: white;
  border-radius: 20px;
  padding: 60px 20px;
  position: relative;
}

.form-container,
.form-container > div,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  width: 60%;
  margin: 10px 0;
  outline: none;
  border: darkgrey 2px solid;
  padding: 16px 10px;
  font-size: 16px;
  font-family: TS-Med, sans-serif;
}

input,
textarea {
  width: 60%;
  margin: 10px 0;
  outline: none;
  border: darkgray 2px solid;
  padding: 16px 10px;
  font-size: 16px;
  font-family: TS-Med, sans-serif;
}

input,
textarea {
  width: 60%;
  margin: 10px 0;
  outline: none;
  border: darkgray 2px solid;
  padding: 16px 10px;
  font-size: 16px;
  font-family: TS-Reg, sans-serif;
}

input[type="submit"] {
  background-color: darkgreen;
  color: white;
  width: 200px;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  font-family: TS-Reg, sans-serif;
}

input[type="submit"]:hover {
  background-color: green;
  cursor: pointer;
}

/* ******* MEDIA ******* */

@media (max-width: 1135px) {
  header {
    background-color: lightpink;
  }

  .nav1 {
    display: flex;
    flex-wrap: wrap;
  }

  .element-nav {
  }
}

@media (max-width: 768px) {
  header {
    background-color: antiquewhite;
  }

  header .avis {
    display: none;
  }
  header .voyages {
    display: none;
  }
  header .alertes {
    display: none;
  }
  header .connectezvous {
    display: none;
  }
  header div.searchbar {
    display: none;
  }
  .searchbar > img {
    justify-content: center;
  }
}
